In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과연산자</font>
# 1절 변수
- 파이썬 변수선언을 위한 과정이 없음.
## 1.1 변수할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 세팅
- 파이썬에서의 모든 변수는 객체로 저장

In [2]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는 ", area)

계산된 넓이는  78.5

In [3]:
import numpy as np
area = np.pi * r * r
print('area = ', area)

area =  78.53981633974483

In [4]:
area.is_integer()# area가 integer(정수)인지 여부를 반환

False

In [9]:
print('area의 주소 :', id(area)) #id(area)는 area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1658991149584
area의 타입 : <class 'int'>

In [6]:
area = 5.5
print('area의 주소 :', id(area)) #id(area)는 area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1659073919248
area의 타입 : <class 'float'>

In [8]:
area = 10
print('area의 주소 :', id(area)) #id(area)는 area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1658991149584
area의 타입 : <class 'int'>

In [13]:
area = "파이썬"
print('area의 주소 :', id(area)) #id(area)는 area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1659069781200
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 문자로 시작(숫자시작불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_식으로 _를 이용
- 파이썬 예약어(랙, ..)는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용

In [14]:
이름 = "홍길동" #비추
이름

'홍길동'

In [15]:
member_name = "홍길동"
memberName = "홍길동"

In [16]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 강력비추
print(Print)

10

In [17]:
#파이썬에서의 숫자: 정수, 실수, 복소수
i = 3+3j #복소수
type(i)

complex

In [18]:
isinstance(i,complex) #i변수(객체)가 complex인지 여부를 반환

True

## 1.3 도움말

In [19]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [21]:
help() #help를 빠져나오려면 q입력/ESC+o :결과 접기/피기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> ㅂ
No Python documentation found for 'ㅂ'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [23]:
#도움말 기능: shift+tab키 tab키
print()

In [29]:
def add(x,y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x = 10의 자리수가 됨
    y = 1의 자리수가 됨
    사용법 : add(2,3) => 23
    '''
    return x*10 + y

In [30]:
add(2)

20

In [31]:
a = add
a(2,3)

23

## 1.4 다중 변수 할당

In [32]:
a = 10
b = 20

In [34]:
a,b = 10, 20
print(a, b)

10 20

In [35]:
# 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
a, b = b, a+b
print(a, b)

20 30

# 2절. 화면입출력(i/o)

In [36]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는?")
first

첫번째 숫자는?5

'5'

In [37]:
second = input("두번째 숫자는?")

두번째 숫자는?2

In [41]:
sum = int(first) + int(second)
print("합: ", sum)

합:  7

In [42]:
first = int(input('첫번째 수는?'))
second = int(input('두번째 수는?'))
sum = first + second
print('합', sum)

첫번째 수는?10
두번째 수는?20
합 30

In [45]:
print('합', sum, sep='=')
print('합', sum, sep='~')
print('합', sum, sep='은 ')

합=30
합~30
합은 30

In [46]:
print('합', sum, sep='=', end=' ')
print('합', sum, sep='~', end=' ')
print('합', sum, sep='은 ')

합=30 합~30 합은 30

In [47]:
import sys
print('hello', 'world', sep=", ", file=sys.stdout)

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
- 숫자: int, float, complex
- 문자: str
- 논리: bool

## 3.1 숫자형

In [48]:
import sys
sys.maxsize # 정수의 최대값 2의 63승-1(2**63-1)

9223372036854775807

In [50]:
a = sys.maxsize + 100000000
print(i)
print(type(i))

(3+3j)
<class 'complex'>

In [51]:
f = 4/2 # 정수/정수는 무조건 실수
f

2.0

In [53]:
# 자바처럼 정수/정수의 결과를 정수로
f = 4//2 #몫 연산자
print(f)
f = int(4/2)
print(f)

2
2

In [54]:
c = 1j #수학시간의 0+1j
print(c**2) # ** 승연산자

(-1+0j)

In [55]:
f = 1.12e12 # 1.12의 10의 12승
print('지수형 표현할당시 실수형으로 저장: ', f)
f = 1.12e-12 # 1.12의 10의 -12승
print('지수형 표현할당시 실서형으로 저장: ', f)

지수형 표현할당시 실수형으로 저장:  1120000000000.0
지수형 표현할당시 실서형으로 저장:  1.12e-12

## 3.2 문자형
쌍따옴표("")나 홑따옴표('') 이용

In [57]:
name = '홍길동"짱"'
address = "서울시 관악구 '신림동'" #서울시 관악구 '신림동'
print(name, address)

홍길동"짱" 서울시 관악구 '신림동'

In [68]:
# 문자형 변수 여러줄
text = '''여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요'''
print(text)

여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요

### ※ 문자열 연산

In [59]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by아무개
'''
name1 = "홍길동"
name2 = "동에 번쩍 서에 번쩍"
print(name1 + name2)

홍길동동에 번쩍 서에 번쩍

In [61]:
print(name1*3) #문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현시 이용

In [66]:
print(r'Hello\nWorld') #r은 \n을 그대로 유지
print('Hello\\nWorld')

Hello\nWorld
Hello\nWorld

정규표현식
```(마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조: 위키백과
2. 간략한 문법:
   \d(숫자와 매치, [0-9]와 동일
   \D(숫자가 아닌 것)
   \w(영문자나 숫자, [a-zA-Z0-9])
   \W(영문자나 숫자가 아닌 문자)
   .(문자)
   \.(.의미)
   \-(-의미)
   {2,3}(2~3번 반복)
   {4}(4번 반복)
   {2,}(2번 이상 반복)
   +(1번 이상 반복)
   *(0번 이상 반복)
   ?(0번이나 1번 반복)
3. 정규표현식 연습장

예시: 
전화번호:010-9999-9999
02-7777-8888
01099997777
0277778888
02)714-5656
010 1234 1234
010.1234.1234

이메일: abc12@naver.com  
abc123@0to7.co.kr
abc@한국.com

```

In [2]:
import re
data = "홍길동인데 전번이 02-888-8888,010 9999 9999 동해전쩍 서해번쩍 ㅋㅋ ㅠㅠ \
오늘 날씨는 엄청 좋아요"

In [1]:
tel_pattern = r"[0-9]{2,3}[\-) \.]?[0-9]{3,4}[\- \.]?[1-9]{4}"

In [3]:
tels = re.findall(tel_pattern,data) #해당 패턴을 다 찾아줌. 없으면[]반환(빈 리스트)
tels

['02-888-8888', '010 9999 9999']

In [5]:
#search : 정규표현식 패턴과 일치하는 처음단어만 찾음
pattern = "(\d{2,3})-(\d{3,4})-(\d{4})"
firstTel = re.search(pattern,data)
firstTel

In [7]:
data[10:22] #문자 슬라이싱(전체 부분에서 원하는 부분만 추출)

'02-888-8888,'

In [8]:
print('전화번호 전체: ',firstTel.group(0))
print('국번: ',firstTel.group(1))
print('중간번호: ',firstTel.group(2))
print('끝번호: ',firstTel.group(3))

전화번호 전체:  02-888-8888
국번:  02
중간번호:  888
끝번호:  8888

In [11]:
re.sub(r'[^가-힣0-9\s]', '',data) #^: not(특수문자, 자음, 모음 없애기) #\s: 스페이스 #sub: 추출하기

'홍길동인데 전번이 028888888010 9999 9999 동해전쩍 서해번쩍   오늘 날씨는 엄청 좋아요'

In [12]:
# 파일 경로에는 반드시 r,\\,/중 하나 사용
file_path = r"C:\ai_x\source\01_python\test.txt"
file_path = "C:/ai_x/source/01_python/test.txt"

In [15]:
file_stream = open(file_path, 'w') #stream객체 생성
print('hello', 'world', sep=' ~ ')  #콘솔창에 출력
print('hello', 'world', sep=' ~ ', file=file_stream)
file_stream.close() #close를 하지 않으면 파일저장 안 됨

hello ~ world

### ※ 문자열 슬라이싱

In [16]:
str_ = '0123456789'
str_

'0123456789'

In [17]:
# 문자 인덱싱
str_[0], str_[2], str_[-1], str_[-3]

('0', '2', '9', '7')

In [18]:
str_[20] # 없는 인덱싱은 에러

IndexError: string index out of range

In [22]:
'''
문자변수 [from:stop] : from부터 stop앞까지 추출
문자변수 [from:stop:step]: from부터 stop앞까지 step씩 전진하면서 추출
step생략시 1
from생략시 처음부터
stop생략시 끝까지
'''

'\n문자변수 [from:stop] : from부터 stop앞까지 추출\n문자변수 [from:stop:step]: from부터 stop앞까지 step씩 전진하면서 추출\nstep생략시 1\nfrom생략시 처음부터\nstop생략시 끝까지\n'

In [21]:
str_[0:5]

'01234'

In [23]:
str_[-5:-1]

'5678'

In [25]:
str_[-4:]

'6789'

In [26]:
str_[-4:20]

'6789'

In [24]:
str_[0:8:2]

'0246'

In [28]:
str_[9:0:-1]

'987654321'

In [32]:
#첫 문자부터 6번째인덱스까지 추출
print(str_[0:7])
#5번째 인덱스부터 끝까지 추출
print(str_[5:])
#str_를 거꾸로 출력
print(str_[-1::-1])

0123456
56789
9876543210

## 3.3 논리형(True/False)

In [33]:
a = True #매개변수 = 인자
print(a) 
print(type(a)) #a매개변수의 타입 출력
print(ininstance(a,bool)) #isinstance(변수,타입): 변수가 해당 타입인지 여부
print('a 주소: ',id(a))
b = True
print('b 주소: ',id(b))
b = False
print('b 주소: ',id(b))

True
<class 'bool'>

In [34]:
int(True), int(False)

(1, 0)

In [35]:
#False로 간주되는 것: 0, "")(빈스트링), None, [](빈 리스트), (), {}
#True: False외의 모든 값

In [36]:
i = 10
if i>5:
    print('i가 크네')
else:
    print('i가 부족하네')

i가 크네

In [37]:
if{}:
    print('True다')
else:
    print('False다')

False다

## 3.4 자료형 확인 및 형변환 함수
- type(변수)
- isinstance(변수, 타입)

- int() : 정수형으로 변환
- float() : 실수형으로 변환
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

In [40]:
int("123"), int(123.9), int (True), int("10 ")

(123, 123, 1)

In [42]:
float("123"), float(True), float(" 10 ")

(123.0, 1.0)

In [43]:
#int() 에러나는 것들
#int("123.5")
#int(' ')
#int('')
int("1,000")

ValueError: invalid literal for int() with base 10: ''

In [44]:
# float() 에러나는 것들
# float("1,000")
# float("")
# float(" ")

In [46]:
str(10), str(10.5), str(True), str(1.12e12)

('10', '10.5', 'True', '1120000000000.0')

In [47]:
bool(""), bool(0), bool(0.0), bool([]), bool(()), bool({}), bool(None)

(False, False, False, False, False, False, False)

In [48]:
bool(" ")

True

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라싱, raw데이터(정규표현식, 파일경로)
3. 논리 - False로 판별되는 경우

# 4절. 포맷팅
- 포맷팅이란, 출력할 문자, 숫자, 날짜, 데이터의 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음

## 4.1 문자열에 출력형식 지정

In [50]:
name = "홍길동"
age = 30
print(name, "님의 나이는 ", age, "살입니다", sep = "")

홍길동님의 나이는 30살입니다

In [54]:
print("%s님의 나이는 %d살입니다"%(name, age))
#%s: 문자 %d: 정수 %f: 실수(옛날방식)
print(f"{name}님의 나이는 {age}살입니다")
print("{}님의 나이는 {:3d}살입니다".format(name, age))

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다
홍길동님의 나이는  30살입니다

## 4.2 format()문법

In [ ]:
# "{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수) 
# 인덱스: format함수 안의 매개변수의 순서
# 인덱스 생략 가능
# 정렬방식: <(왼쪽정렬), >(오른쪽정렬), ^(중앙정렬)
# 정수자릿수: 출력될 자릿수d. 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
# 실수자릿수: 출력될자릿수.소수점자리수f
# 문자자릿수: 전체확보될자릿수[.변수중출력할자릿수]s
# 타임: d(10진수 정수), b(2진수), x(16진수), f(실수), s(문자)
# 공백대체문자를 쓸 경우 정렬방식을 반드시 기입해야 함.

In [59]:
name = input('이름은?')
age = int(input('나이는?'))
print("{}살 {}님 반갑습니다".format(age, name))
print("{1:*^4d}살 {0:_<10}님 반갑습니다".format(name, age))

이름은?홍길동
나이는?30
30살 홍길동님 반갑습니다
*30*살 홍길동_______님 반갑습니다

In [64]:
#기본값
#숫자: 오른쪽정렬
#문자: 왼쪽정렬
#변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수, 문자 자리수)
i = 12345
s = "Hello"
print("[{0}], [{0:10}], [{0:3}]".format(i))
print("[{0}], [{0:10}], [{0:3}]".format(s))

[12345], [     12345], [12345]
[Hello], [Hello     ], [Hello]

In [83]:
# 문자: 전체자리수.표현될자리수
#실수 : 전체자리수.소수점이하 표현될 자리수
f = 2.758
s = "Hello"
print("f = [{0:$>5.2f}]".format(f))
print("s = [{0:_<5.2}]".format(s))

f = [$2.76]
s = [He___]

In [87]:
# + : 부호를 출력 
# = : 부호를 맨 앞에 출력
a, b = 123, -123
print("[{:5}], [{:5}]".format(a,b))
print("[{:+5}], [{:+5}]".format(a,b))
print("[{:=+5}], [{:=5}]".format(a,b))

[  123], [ -123]
[ +123], [ -123]
[+ 123], [- 123]

In [89]:
#
f = 2.785
print("[{:+10.2f}]".format(f))

[     +2.79]

In [90]:
sign = '+'
width = 10
precision = 3
print("[{:{}{}.{}f}]".format(f,
                             sign,
                             width, 
                             precision))

[    +2.785]

In [92]:
print("{:{sign}{width}.{precision}f}".format(f,
                                            sign = sign,
                                            width = width,
                                            precision = precision))

    +2.785

In [94]:
a = 15
print("10진수 a = [{:5d}]".format(a))
print("16진수 a = [{:5x}]".format(a))
print("2진수 a = [{:5b}]".format(a))

10진수 a = [   15]
16진수 a = [    f]
2진수 a = [ 1111]

## 4.3 날짜출력

In [101]:
import re
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2025, 4, 9, 17, 51, 7, 611795)

In [102]:
print("{}".format(now))
print("{:%Y년%m월%d일 %p %I시 %M분 %S초}".format(now))
print("{:%Y년%m월%d일 %H시 %M분 %S초}".format(now))

2025-04-09 17:51:07.611795
2025년04월09일 PM 05시 51분 07초
2025년04월09일 17시 51분 07초

In [103]:
print(now.strftime("%Y년%m월%d일 %H시 %M분 %S초"))

2025년04월09일 17시 51분 07초