In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font color="red" size="5">ch03 데이터구조</font>
- 리스트[]: 수정가능, 튜플(): 수정불가, 딕셔너리{}, 셋

# 1절. 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입 가능)을 하나의 변수에 저장/관리할 수 있음
- list()함수 이용도 가능
- 인덱스: 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱([from:stop:step]): 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [10]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [12]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [13]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [16]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x = {x}')
print(f'y = {y}')
print(f'z = {z}')
print(f'fruits = {fruits}')

x = mango
y = apple
z = orange
fruits = ['mango', 'apple', 'orange']

In [17]:
# range(from, to, by) :from부터 to 앞까지 by씩 증가하면서  지정된 범위의 정수
       #from 생략시: 0
       #by생략시: 1

In [18]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [23]:
#반복문(3회)
for i in range(3):
    print(i)

0
1
2

In [48]:
fruits = ['mango', 'apple', 'orange', 'grape']
#len(fruits): 리스트 데이터 수
for i in range(len(fruits)):
    print('{}번째 과일은 {}입니다'.format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [49]:
for value in fruits:
    print(value)

mango
apple
orange
grape

In [50]:
i, v = [1, 'mange']
print(i)
print(v)

1
mange

In [51]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [61]:
#enumerate(나열가능한 자료) : -> (index, 값)들의 셋들
for idx, value in enumerate(fruits):
    print('{}번째 과일은 {}입니다'.format(idx, value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [56]:
#리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [-0, True, '2', 3, [4,5,6]]
print(numbers)
print(numbers[1])
print(numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True
5

In [63]:
# 2차원 리스트
numbers_2d = [[90, 91, 92, 93],
              [85, 81, 82, 83],
              [71, 70, 72, 73],]
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [74]:
for i, row in enumerate(numbers_2d): #i는 행 인덱스 row 행 인덱스
    for j , value in enumerate(row): #j는 열 인덱스
        print("{}행 {}열 :{}".format(i,j,value), end = '\t') #value: 값
    print() #괄호 안 end생략. 개행

0행 0열 :90	0행 1열 :91	0행 2열 :92	0행 3열 :93
1행 0열 :85	1행 1열 :81	1행 2열 :82	1행 3열 :83
2행 0열 :71	2행 1열 :70	2행 2열 :72	2행 3열 :73

In [87]:
for row in numbers_2d:
    for item in row: #item은 row의 인덱스
        print(item, end = '\t')
    print()

90	91	92	93
85	81	82	83
71	70	72	73

## 1.2 기본 정보 조회

In [88]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0], 
              [9, 100, 1, 2, 3], 
              [50, 54]]

In [90]:
#요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [91]:
#최소, 최대값
min(numbers), max(numbers)

(1, 12)

In [92]:
#2차원 리스트의 min(): 0번 인덱스 요소가 가장 작은 값
#              man(): 0번 인덱스 요소가 가장 큰 것
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [94]:
#문자 list일 경우 아스키코드 값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'Apple']
min(fruits), max(fruits)

('Apple', 'orange')

In [97]:
numbers = [1, 12, 3, 5, 4]
#정렬: sorted()
print('오름차순: ', sorted(numbers))
print('내림차순: ', sorted(numbers, reverse = True))
print('sorted함수 사용시 리스트 내용이 바뀌지 않음: ', numbers)
print('합: ', sum(numbers))

오름차순:  [1, 3, 4, 5, 12]
내림차순:  [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용이 바뀌지 않음:  [1, 12, 3, 5, 4]
합:  25

## 1.3 요소추가
```
+ : 두 리스트 연결
* : 리스트를 곱한 수만큼 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가(기존 데이터는 shift)
```

In [103]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [105]:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [108]:
numbers.append([5, 6, 7])
print(numbers)

[1, 2, 3, [5, 6, 7], [5, 6, 7], [5, 6, 7]]

In [100]:
num = [1, 2, 3]
num.extend([4, 5, 6])
print(num)

[1, 2, 3, 4, 5, 6]

In [109]:
num.insert(2, 'x')
print(num)

[1, 2, 'x', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을데이터가 있는 요소의 index로 반환
                     찾을데이터가 없을 경우 오류
- count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환

In [113]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [114]:
numbers.index(2) #0번째 index부터 2가 처음 나오는 index를 반환

1

In [116]:
numbers.index(2, 3) # 3번째 index부터 2가 처음 나오는 index를 반환

5

In [117]:
numbers.index(9)

ValueError: 9 is not in list

In [119]:
9 in numbers # in : numbers 리스트에 9가 존재하는지 여부

False

In [120]:
def save_index(lst, data): 
    if data in lst: #lst안에 data가 있을 때
        return lst.index(data)
    else:
        return -1

In [121]:
save_index(numbers, 9)

-1

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱: 리스트에서 원하는 index의 데이터를 추출(인덱스 범위 벗어나도 에러 안 남)
   - [from:stop:step] from부터 stop앞까지 step씩 증가하는 인덱스의 값을 추출
   - from 생략시 처음. stop생략시 끝. step생략시 1. 모두 생략 가능
   - 음수 인덱스 가능
2. <font color = 'red'>리스트 컴프리헨션</font> : 리스트에서 원하는 데이터를 추출

In [123]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
#짝수번째 인덱스 값 출력
print(numbers[::2])
#거꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [133]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
#리스트에서 모든 데이터를 변수에 담아 출력하시오.
result = []
for data in numbers:
    result.append(data)
print(result)
#리스트에서 짝수 데이터만 변수에 담아 출력하시오.
result = []
for data in numbers:
    if data%2 == 0:
        result.append(data)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

**리스트컴프리핸션

In [134]:
#numbers의 모든 데이터를 리스트컴프리핸션으로 추출
[ data for data in numbers ]

[1, 3, 5, 9, 10, 12, 13, 20]

In [135]:
#numbers의 짝수 데이터를 리스트컴프리핸션으로 추출
[ data for data in numbers if data%2 == 0]

[10, 12, 20]

In [139]:
#ex1. numbers에서 10이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
[ data for data in numbers if data>=10 ]

[10, 12, 13, 20]

In [142]:
#ex2. fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[ data for data in fruits if len(data)>5 ]

['orange']

In [149]:
#ex3. 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[ data**2 for data in L if data>=3 ]

[9, 16, 25]

## 1.6 요소 수정하기

In [150]:
numbers= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [151]:
#슬라이싱을 이용해서 요소 수정
numbers[1:4] = ['x', 'y', 'z', 'ㅋ', 'ㅎ']
numbers

[0, 'x', 'y', 'z', 'ㅋ', 'ㅎ', 4, 5, 6, 7, 8, 9]

In [153]:
#슬라이싱을 이용해서 요소 수정 시 step부분 미포함: 부분 리스트가 통째로 수정
numbers= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[1:4] = ['x']
numbers

[0, 'x', 4, 5, 6, 7, 8, 9]

In [157]:
#슬라이싱을 이용해서 요소 수정(step부분 포함: 요소 개수가 맞아야 함)
numbers= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = [99, 99, 99, 99, 99]
numbers

[99, 1, 99, 3, 99, 5, 99, 7, 99, 9]

## 1.7 요소 삭제
- pop(): 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx): idx번 요소가 반환되고 삭제
- remove(지울data): 리스트안의 data가 삭제
- del 변수[idx]: idx번째 요소가 삭제

In [163]:
numbers= [1, 2, 3, 4, 5]
delete_data = numbers.pop()
print('삭제된 데이터: {}, 리스트: {}'.format(delete_data, numbers))
delete_data2 = numbers.pop(0)
print('삭제된 데이터: {}, 리스트: {}'.format(delete_data2, numbers))
del numbers[2]
print('numbers: ', numbers)

삭제된 데이터: 5, 리스트: [1, 2, 3, 4]
삭제된 데이터: 1, 리스트: [2, 3, 4]
numbers:  [2, 3]

In [164]:
numbers= [1, 2, 3, 4, 5]
numbers.remove(3) #remove는 반환값이 없고 해당 데이터만 삭제. 해당데이터가 없으면 오류
numbers

[1, 2, 4, 5]

In [165]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다

In [168]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제 완료')
    else:
        print(f'해당 {remove_data}데이터는 없는 아이템입니다')

In [170]:
safe_remove(numbers,9)
safe_remove(numbers,5)

해당 9데이터는 없는 아이템입니다
5 삭제 완료

In [171]:
numbers

[1, 2, 4]

## 1.8 정렬하기

In [3]:
numbers = [1, 9, 5, 0, 8]
print('numbers는 변경하지 않고 정렬: ',sorted(numbers,reverse=True)) #reverse=True: 내림차순
print('numbers: ',numbers)

numbers는 변경하지 않고 정렬:  [0, 1, 5, 8, 9]
numbers:  [1, 9, 5, 0, 8]

In [4]:
numbers.sort() #numbers자체가 정렬한 결과로 바뀜(기본정렬: 오름차순)
numbers

[0, 1, 5, 8, 9]

In [7]:
numbers.reverse() #numbers 자체가 역순으로 변경
numbers

[9, 8, 5, 1, 0]

In [9]:
lst = [2, 5, 9]
#lst.reverse()
lst = lst[::-1]
lst

[9, 5, 2]

## 1.9 복제하기

In [13]:
#스칼라 데이터의 복제
i = 10     #원본
copy_i = i #복제본
print(f"원본 = {i}, 복사본{copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")
copy_i = 99
print(f"원본 = {i}, 복사본{copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")

원본 = 10, 복사본10 / 원본주소=1962769449488, 복사본주소=1962769449488
원본 = 10, 복사본99 / 원본주소=1962769449488, 복사본주소=1962769452336

In [14]:
#리스트(배열, 데이터프레임, 딕셔너리)의 복제

In [17]:
numbers = [5, 6, 1]  #원본
new_numbers= numbers #복제본
new_numbers[0] = 9
print('원본 :', numbers)
print('복제본 :', new_numbers)

원본 : [9, 6, 1]
복제본 : [9, 6, 1]

In [20]:
# 얕은 복사(할당)
numbers = [5, 8, 1]  #원본
new_numbers = numbers#얕은 복사(할당)
print(f"원본 = {numbers}, 복제본 = {new_numbers}")
print(f"원본주소 = {id(numbers)}, 복제본 = {id(new_numbers)}")
new_numbers[0] = -99
new_numbers.sort()
print("복제본만 지지고 볶고")
print(f"원본 = {numbers}, 복제본 = {new_numbers}")
print(f"원본주소 = {id(numbers)}, 복제본 = {id(new_numbers)}")

원본 = [5, 8, 1], 복제본 = [5, 8, 1]
원본주소 = 1960734111360, 복제본 = 1960734111360
원본 = [-99, 1, 8], 복제본 = [-99, 1, 8]
원본주소 = 1960734111360, 복제본 = 1960734111360

In [23]:
#깊은 복사(복제)
numbers = [5, 8, 1]  #원본
new_numbers = numbers.copy()#깊은 복사(복제)
print(f"원본 = {numbers}, 복제본 = {new_numbers}")
print(f"원본주소 = {id(numbers)}, 복제본 = {id(new_numbers)}")
new_numbers[0] = -99
new_numbers.sort()
new_numbers.pop()
print("복제본만 지지고 볶고")
print(f"원본 = {numbers}, 복제본 = {new_numbers}")
print(f"원본주소 = {id(numbers)}, 복제본 = {id(new_numbers)}")

원본 = [5, 8, 1], 복제본 = [5, 8, 1]
원본주소 = 1960734133248, 복제본 = 1960734109248
복제본만 지지고 볶고
원본 = [5, 8, 1], 복제본 = [-99, 1]
원본주소 = 1960734133248, 복제본 = 1960734109248

In [24]:
numbers.clear() #리스트의 요소를 모두 삭제
numbers

[]

# 2절. 튜플
- 리스트와 유사하지만, 읽기 전용. 수정이 필요없는 데이터에서 사용
- 수정불가하므로, 튜플에 데이트 수정, 추가, 삭제 불가(제공되는 함수도 많지 않음)
- (), tuple() 이용해서 생성

In [27]:
#city = ('서울', '부산', '인천', '목표')
#파이썬은 여러개의 값이 전달될 때, 튜플 타입으로 전달
city = '서울', '부산', '인천', '목표'
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목표')

In [28]:
a, b = 10, 12
print(a, b)

10 12

In [30]:
# city = ['서울', '부산', '인천', '목표']
city = ('서울', '부산', '인천', '목표')
' = '.join(city)

'서울 = 부산 = 인천 = 목표'

In [31]:
l = ['서울'] #요소가 하나 있는 리스트
print(type(l), l)

<class 'list'> ['서울']

In [35]:
t = ('서울', ) #요소가 하나 있는 튜플: (,반드시 기입)
print(type(t), t)

<class 'tuple'> ('서울',)

In [ ]:
numbers = (1, 2, 3)
# numbers.remove(3)
# numbers.pop()
# numbers.sort()

In [36]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)

(2, 0)

In [38]:
if 9 in numbers:
    numbers.index(9)
else:
    print('9요소가 없어요')

9요소가 없어요

In [39]:
def safe_index(lst, item):
    """
    lst안에 item요소가 있으면 item요소의 index를 반환, 없으면 -1반환
    lst: 나열가능한 데이터
    item: 찾을 데이터
    """
#     if item in lst:
#         return lst.index(item)
#     else:
#         return -1
    return lst.index(item) if item in lst else -1 #위와 같음

In [3]:
from safe import safe_index
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
safe_index(numbers, 9), safe_index(numbers, 2)

(-1, 2)

In [4]:
numbers * 3 #반복

(0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2)

In [7]:
#ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력
numbers = (1, 2, 3, 4, 5, 6)
tuple([num**2 for num in numbers if num%2 == 0])

(4, 16, 36)

# 3절. 딕셔너리
- 중괄호({})를 이용해서, 키(key)-값(value) 쌍으로 구성된 자료 구조
- 키는 중복불가(유일한 값만 가능). 키에 list는 사용불가
- 값은 중복가능
- 인덱스를 이용한 참조 지원 안 함

In [10]:
dic = {'name': '홍길동', 1:22, (1, 2):[1, 2]}
print(type(dic))
print(dic)
print('데이터 개수: ', len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 개수:  3

In [12]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [15]:
print(my_favorite['fruit'])
print(my_favorite.get('fruit')) #★

apple
apple

#print(my_favorite['people']) #없는 키값을 인덱스 방식으로 참조시 에러
print(my_favorite.get('people')) #없는 키값을 get함수로 참조시 None
print(my_favorite.get('people', '-')) #없는 키를 get함수로 참조시 '-'

In [26]:
#딕셔너리 데이터 수정
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite['fruit'] = 'mango' #fruit데이터 수정
print('fruit 수정 후 :', my_favorite)
my_favorite['people'] = '홍길동' #데이터 추가
print('my_favorite 추가 후: ', my_favorite)
del my_favorite['fruit']
print('fruit제거 후: ', my_favorite)
remove_data = my_favorite.pop('number')#number키의 값을 반환하고 제거
print('remove_data:', remove_data)
print('number제거 후 딕셔너리:', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
my_favorite 추가 후:  {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
fruit제거 후:  {'number': 12, 'sport': 'golf', 'people': '홍길동'}
remove_data: 12
number제거 후 딕셔너리: {'sport': 'golf', 'people': '홍길동'}

In [31]:
# for문을 이용한 튜플(리스트) 출력
my_tup = ('홍길동', 30, '010-9999-9999')

In [33]:
for data in my_tup:
    print(data, end='\t')
print()
for idx in range(len(my_tup)):
    print(f"{idx}번째 {my_tup[idx]}", end='\t')
print()
for idx, value in enumerate(my_tup):
    print(f"{idx}번째 {value}", end="\t")

홍길동	30	010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999

In [34]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [38]:
#매우 비추
for key in my_dic:
    print(my_dic[key],end='\t')

홍길동	30	010-9999-9999

In [39]:
for data in my_dic.values():
    print(data, end='\t')

홍길동	30	010-9999-9999

In [45]:
my_dic.values() #값만 추출

dict_values(['홍길동', 30, '010-9999-9999'])

In [43]:
my_dic.keys() #키만 추출

dict_keys(['name', 'age', 'tel'])

In [44]:
my_dic.items() #키-값 쌍을 추출

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [46]:
for key, value in my_dic.items():
    print(f"{key}:{value}", end="\t")

name:홍길동	age:30	tel:010-9999-9999

In [47]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [52]:
for idx, (key, value) in enumerate(my_dic.items()):
    print("{}.{:4}:{}".format(idx+1, key, value))

1.name:홍길동
2.age :30
3.tel :010-9999-9999

In [53]:
my_dic

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999'}

In [54]:
"홍길동" in my_dic

False

In [55]:
"홍길동" in my_dic.values()

True

In [57]:
#얕은 복사
my_favorite = {'fruit':'apple', 'number':12} #원본
new_favorite = my_favorite #복제본
new_favorite['people'] = '홍길동'
print(my_favorite)
new_favorite

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

In [58]:
#깊은 복사
my_favorite = {'fruit':'apple', 'number':12} #원본
new_favorite = my_favorite.copy() #복제본
new_favorite['people'] = '홍길동'
print(my_favorite)
new_favorite

{'fruit': 'apple', 'number': 12}

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

# 4절. 셋
- 중복을 허용하지 않는 집합(순서x == 인덱스x)
- 중괄호({})나 set()함수를 이용해서 셋 생성
- 추가: add(), update()
- 집합연산자 : &, |, -
- 삭제: remove()

In [60]:
fruits = {'banana', 'orange', 'banana', 'banana', 'apple'}
fruits

{'apple', 'banana', 'orange'}

In [61]:
s1 = set([1, 20, 1, 21, 1, 22])
s1

{1, 20, 21, 22}

In [62]:
#set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
my_favorite = {'fruit':'apple', 'number':12}
set(my_favorite)

{'fruit', 'number'}

## 추가하기
- add(): 기본자료형, 튜플데이터를 하나의 요소로 추가할 경우
- update(): 리스트, 튜플, 딕셔너리, 셋 요소 하나하나씩 추가할 경우. dict사용시 key만 추가

In [64]:
s2 = {1, 1, 2, 3}
s2.add(4)
s2

{1, 2, 3, 4}

In [65]:
s2.update([5, 6, 7])
s2

{1, 2, 3, 4, 5, 6, 7}

In [68]:
#논리값 False는 False, 0으로 인식
#논리값 True는 True, 1로 인식
s = {1, 2, 3}
s.add(False)
s.add(True)
s.add(0)
s

{False, 1, 2, 3}

In [69]:
s.remove(True)
s

{False, 2, 3}

## 연산:&(교집합)|(합집합)-(차집합)

In [70]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1|s2 = ', s1|s2)
print('s1&s2 = ', s1&s2)
print('s1-s2 = ', s1-s2)

s1|s2 =  {1, 2, 3, 4, 5, 6, 7}
s1&s2 =  {3, 4, 5}
s1-s2 =  {1, 2}

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용함수
- 리스트, 튜플, 셋, 딕셔너리를 for문에 사용시

In [71]:
names = {"길자", "길동", "영자"}
for name in names:
    print(name, end = "\t")

영자	길동	길자

In [73]:
for no, name in enumerate(names):
    print(f"{no}.{name}")

0.영자
1.길동
2.길자

In [74]:
names = ['순자', '길동', '길자']
tels = ['010-9999-9999', '010-8888-8888', '010-7777-7777']
adds = ['서울', '인천', '판교']

for name in names:
    print(name)

순자
길동
길자

In [76]:
names = ['순자', '길동', '길자']
tels = ['010-9999-9999', '010-8888-8888', '010-7777-7777']
adds = ['서울', '인천', '판교']

for idx in range(len(names)):
    print("{}. {}의 연락처는 {}고 {}에 살아요".format(idx+1, names[idx], tels[idx], adds[idx]))

1. 순자의 연락처는 010-9999-9999고 서울에 살아요
2. 길동의 연락처는 010-8888-8888고 인천에 살아요
3. 길자의 연락처는 010-7777-7777고 판교에 살아요

In [78]:
list(zip(names, tels, adds))

[('순자', '010-9999-9999', '서울'),
 ('길동', '010-8888-8888', '인천'),
 ('길자', '010-7777-7777', '판교')]

In [79]:
for name, tel, add in zip(names, tels, adds):
    print(f"{name}:{tel}-{add}")

순자:010-9999-9999-서울
길동:010-8888-8888-인천
길자:010-7777-7777-판교

In [80]:
list(enumerate(zip(names, tels, adds)))

[(0, ('순자', '010-9999-9999', '서울')),
 (1, ('길동', '010-8888-8888', '인천')),
 (2, ('길자', '010-7777-7777', '판교'))]

In [87]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print("{}. {} : {} - {}".format(idx+1, 
                                    name, 
                                    tel, 
                                    add))

1. 순자 : 010-9999-9999 - 서울
2. 길동 : 010-8888-8888 - 인천
3. 길자 : 010-7777-7777 - 판교

변수가 담을 수 있는 기본 자료형들
```
![자료형들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
```
<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
     width="400"
     style="float:left"
     >

## 6절. 연습문제
## 실습형

In [88]:
#1번
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [92]:
#2번
numbers = [1,2,3,4,5,6,7,8,9,10]
data = [200, 300, 400, 500]
numbers.extend([data])
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [200, 300, 400, 500]]

In [93]:
#3번
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[:5:]

[1, 2, 3, 4, 5]

In [100]:
#4번
numbers = [1,2,3,4,5,6,7,8,9,10]
[data for data in numbers if numbers.index(data)%2 == 0]

[1, 3, 5, 7, 9]

In [107]:
#5번
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[1::2] = [0, 0, 0, 0, 0]
numbers

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [109]:
#6번
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers = numbers[::-1]
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [115]:
#7번
member_info ={"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}
print(member_info.get("address"))

서울시 마포구

In [117]:
#8번
member_info ={"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}
member_info.pop("score")
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [118]:
#9번
member_info ={"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}
new_member_info = member_info.copy()
new_member_info["address"] = "서울시 서대문구"
new_member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구', 'score': 90}

In [122]:
#10번
print(member_info.values())

dict_values(['홍길동', 20, '서울시 마포구', 90])

## 서술형

In [123]:
#1번
#출력 결과: orange, banana
L1 = ("orange","apple","banana","kiwi")
new_list= [i for i in L1 if len(i)>5]
print(new_list)

['orange', 'banana']

In [127]:
#2번
#답: 3

[]

In [129]:
#3번
#답:1
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,]]
len(numbers_2d[3])

1

In [ ]:
#4번
#답: extends

In [133]:
#5번
#답: [0, 1, 0, 3, 0, 5, 0, 7, 0, 9]
numbers=list(range(10))
numbers[::2] = [0]*len(numbers[::2])
numbers

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [130]:
#6번
#답: [5, 1, 6, 2, 7, 3, 8, 4, 9]
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[ : : 2]= numbers[5:]
numbers

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [134]:
#7번
#답: [0, 0, 1, 1, 3, 2, 5, 3, 7, 4, 9]
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = numbers[:5]
numbers

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [131]:
#8번
#답: 1번
my_dic = {"a":10, "b":20, "c":30}

KeyError: 0

In [135]:
#9번
#답:
# apple
# banana
# orange
fruits = [ 'apple', 'banana', 'orange']
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
orange

In [136]:
#10번
#답: 3
fruits = ['apple', 'banana', 'orange']
print(len(fruits))

3

In [ ]:
#11번
#답: def