In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font color="red" size="5">ch05 함수</font>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, ... , 매개변수n]):
    명령어1
    명령어2
    명령어n
```

# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [4]:
#함수 정의
def my_message(x, msg): #msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [6]:
#함수 사용
my_message(3, 'hello')

hello
hello
hello

In [8]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [9]:
type(my_msg), type(my_message)

(function, function)

In [10]:
print('Hello') # 파이썬 내장함수(import하지 않고 사용할 수 있는 함수)
print = 5
#print('Hello')
del print
print('Hello')

Hello
Hello

In [11]:
my_message(2, 'Hello')

Hello
Hello

In [12]:
my_message = 5

In [13]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [16]:
del my_message
#파이썬 내장함수가 아니면 변수를 삭제해도 함수 사용불가

NameError: name 'my_message' is not defined

In [15]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [3]:
#함수 정의: 4월 16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [18]:
my_hello() #함수 호출

Hello, Python
Hello, World

In [4]:
my_hello

In [5]:
__name__

'__main__'

In [7]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [1]:
import ch05 #ch05모듈을 로드

In [3]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [4]:
from ch05 import my_hello #ch05모듈안의 my_hello 로드

In [6]:
my_hello(1)

Hello, Python
Hello, World

## 1.2 docstring

In [9]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [10]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [13]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end = ' ')
        a, b = b, a+b
    print()#개행

In [14]:
fibonacci(10)

0 1 1 2 3 5 8

In [15]:
a, b

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [17]:
global_var = 100 #전역변수
def func1():
    print('함수안: ', global_var)
func1()
print('함수밖: ', global_var)

함수안:  100
함수밖:  100

In [19]:
def func2():
    local_var = 200 #지역변수
    print('함수안: ', local_var)
func2()
print('함수밖: ', local_var)

함수안:  200

NameError: name 'local_var' is not defined

In [22]:
g_var = 100 #전역변수
def func3():
    g_var = 200 #지역변수
    print('함수안(지역변수 g_var): ', g_var)
func3()
print('함수밖(전역변수 g_var): ', g_var)

함수안:  200
함수밖:  100

In [24]:
#랙시컬 특성
g_var = 100 #전역변수
def func4():
    print('함수 안 g_var: ', g_var)
    g_var = 200 #지역변수
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [25]:
#랙시컬 특성
g_var = 100 #전역변수
def func4():
    global g_var #func4()함수 내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var: ', g_var)
    g_var = 200 #전역변수
func4()
print('함수 밖 g_var: ', g_var)

함수 안 g_var:  100
함수 밖 g_var:  200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 벼수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [26]:
foo = 'a' #전역변수
id(foo)

3051244316464

In [32]:
def func1(f): #매개변수 f는 지역변수
    print('Before: ', f, ' id(f): ', id(f))
    f = f*3
    print('After: ', f, ' id(f): ', id(f))
func1(foo)
print(foo)

Before:  a  id(f):  3051244316464
After:  aaa  id(f):  3051356097392
a

## 1.5 참조에 의한 호출
- 한수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [29]:
L = [1, 2, 3]
id(L)

3051356172032

In [33]:
def func2(f): #매개변수 f는 지역변수
    print('Before: ', f, id(f))
    f.append(4)
    print('After: ', f, id(f))
func2(L)

Before:  [1, 2, 3, 4] 3051356172032
After:  [1, 2, 3, 4, 4] 3051356172032

In [35]:
print('L =', L, id(L))

L = [1, 2, 3, 4, 4] 3051356172032

# 2. 함수의 실행결과를 반환하는 return

In [36]:
def add(x, y):
    return x + y

In [41]:
i = 2;j = 3
add(i, j)

5

In [42]:
def add():
    return True

In [43]:
add()

True

In [44]:
def add(a):
    pass

In [46]:
print(add(10))

None

In [52]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n = 10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end = ' ')
        a, b = b, a+b
    print()#개행

In [59]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [6]:
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n = 10이면 [0 1 1 2 3 5 8]을 return
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [7]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [60]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return하는 함수'
    return b, a

In [62]:
x, y = 5, 10
print(f'함수 실행 전 x = {x}, y = {y}')
x, y = swap(x, y)
print(f'함수 실행 후 x = {x}, y = {y}')

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절. 함수의 매개변수★
## 3.1 기본값을 갖는 매개변수

In [72]:
def make_url(ip, port = 80): #순서인수>기본값을 값는 매개변수
    return "http://{}:{}".format(ip, port)

In [75]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port = 8090, ip = 'localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [8]:
i = 5
#기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg = i):
    print('arg = ', arg)

In [9]:
i = 50
func2()

arg =  5

In [1]:
list_ = []
#기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은 실행되는 시점
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [2]:
print(func3(10)) #list가 수정

[10]

In [3]:
print(func3(20))

[10, 20]

In [4]:
list_

[10, 20]

In [7]:
def func4(data, L = None):
    if L == None: 
        L = []
    L.append(data)
    return L

In [9]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [11]:
# 파이썬은 오버로딩 불가
def add(a,b):
    return a+b
def add(a,b,c):
    return a+b+c

In [12]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [16]:
#*args: 매개변수들을 하나의 튜플변수args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    #print('args =',args)
    result_tot = 0 #누적변수
    for data in args:
        result_tot += data
    return result_tot

In [19]:
print(add(1,2))
print(add(1,2,3))
print(add(1,2,3,4))
print(add(1,2,3,4,5))

3
6
10
15

In [ ]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

In [20]:
def concat(*subject, sep):
    return sep.join(subject)

In [23]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

'Python/Oracle/DL/ML'

In [24]:
#해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep = '/')

'Python/Oracle/DL/ML'

In [ ]:
#해결책2 : 기본값을 반드시 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [25]:
concat('Python', 'Oracle', 'DL', 'ML', sep = '/')

'Python/Oracle/DL/ML'

In [26]:
print('Python', 'Oracle', 'DL', 'ML', sep = '/')

Python/Oracle/DL/ML

In [30]:
#해결책3 : sep을 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [32]:
concat('/', 'Python', 'Oracle', 'DL', 'ML')

'Python/Oracle/DL/ML'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [42]:
def func5(**kwargs):
    #print(kwargs)
    print(type(kwargs))
    print('이름: ', kwargs.get('name', '대마왕'))
    print('나이: ', kwargs.get('age', 30))
    print('주소: ', kwargs.get('address', '서울'))

In [44]:
func5(name = '홍길동', age = 30, address = '신림동')

<class 'dict'>
이름:  홍길동
나이:  30
주소:  신림동

In [45]:
func5(name = '김길동')

<class 'dict'>
이름:  김길동
나이:  30
주소:  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름명시) > 딕셔너리매개변수(**)

In [46]:
def func6(a, b, *c, **d):
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('딕셔너리 인수 d : ', d)

In [47]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name = '홍길동', age = 30, address = '서울')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕션리 인수 d :  {'name': '홍길동', 'age': 30, 'address': '서울'}

In [48]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수이름 반드시 명시) d : ', d)
    print('딕셔너리인수 e : ', e)

In [49]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize = 12, fontfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수이름 반드시 명시) d :  딴거
딕셔너리인수 e :  {'fontsize': 12, 'fontfamily': 'consola'}

In [50]:
func7(10, 20, 1, 2, 3, '딴거', fontsize = 12, fontfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수이름 반드시 명시) d :  기본값
딕셔너리인수 e :  {'fontsize': 12, 'fontfamily': 'consola'}

# 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹: 함수 호출시 매개변수앞에 *붙임
- 패킹: 함수 정의시 매개변수앞에 *붙임

In [53]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [54]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [56]:
numbers = [1, 2, 3, 4]
add(*numbers) #언패킹

(1, 2, 3, 4)

10

In [57]:
numbers = (1, 2, 3, 4)
add(*numbers) #언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 언패킹: 함수 호출시 매개변수앞에 **붙임
- 패킹: 함수 정의시 매개변수앞에 **붙임

In [64]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [65]:
func5(name = '홍길동', age = 30, address = '신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [66]:
customInfo = {'name':'홍길동', 'age':30, 'address': '서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [68]:
def add(a,b):
    return a+b
add(3,4)

7

In [69]:
add2 = lambda a, b : a+b
add2(3,4)

7

In [70]:
type(add), type(add2)

(function, function)

In [71]:
(lambda a, b : a+b)(3,4)

7

In [80]:
#ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num%2:
#         result = '홀수'
#     else:
#         result = '짝수'
    return '홀수' if num%2 else '짝수'
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(10), ex1(-9)

('짝수', '홀수')

In [81]:
#ex2. 두 매개변수의 차이를 return
ex2 = lambda a,b : a-b if a>b else b-a
ex2(10, 5), ex2(2, 8)

(5, 6)

In [96]:
#ex3. 매개변수로 잔액을 받아 잔액이 양수면 잔액을 return, 음수면 'negative'
ex3 = lambda bal : bal if bal>0 else 'negative'
ex3(1000), ex3(0), ex3(-5)

(1000, 'negative', 'negative')

In [100]:
#ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험. 그외는 유효하지 않음
ex4 = lambda point : 'A팀' if 100>=point>=80 else \
                     'B팀' if 80>point>=60 else \
                     '재시험' if 0<=point<60 else \
                     '유효하지 않음'
ex4(40), ex4(90), ex4(70)

('재시험', 'A팀', 'B팀')

In [102]:
#ex5. safe_index를 람다식으로 표현
def safe_index(vector, data):
    if data in vector:
        return lst.index(data)
    else:
        return -1

In [ ]:
safe_index = lambda lst, data : lst.index(data) if data in lst else -1
safe_index(num, 9)