In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font color="red" size="5">ch05 함수</font>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, ... , 매개변수n]):
    명령어1
    명령어2
    명령어n
```

# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [4]:
#함수 정의
def my_message(x, msg): #msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [6]:
#함수 사용
my_message(3, 'hello')

hello
hello
hello

In [8]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [9]:
type(my_msg), type(my_message)

(function, function)

In [10]:
print('Hello') # 파이썬 내장함수(import하지 않고 사용할 수 있는 함수)
print = 5
#print('Hello')
del print
print('Hello')

Hello
Hello

In [11]:
my_message(2, 'Hello')

Hello
Hello

In [12]:
my_message = 5

In [13]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [16]:
del my_message
#파이썬 내장함수가 아니면 변수를 삭제해도 함수 사용불가

NameError: name 'my_message' is not defined

In [15]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [3]:
#함수 정의: 4월 16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [18]:
my_hello() #함수 호출

Hello, Python
Hello, World

In [4]:
my_hello

In [5]:
__name__

'__main__'

In [7]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [1]:
import ch05 #ch05모듈을 로드

In [3]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [4]:
from ch05 import my_hello #ch05모듈안의 my_hello 로드

In [6]:
my_hello(1)

Hello, Python
Hello, World

## 1.2 docstring

In [9]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [10]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [13]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end = ' ')
        a, b = b, a+b
    print()#개행

In [14]:
fibonacci(10)

0 1 1 2 3 5 8

In [15]:
a, b

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [17]:
global_var = 100 #전역변수
def func1():
    print('함수안: ', global_var)
func1()
print('함수밖: ', global_var)

함수안:  100
함수밖:  100

In [19]:
def func2():
    local_var = 200 #지역변수
    print('함수안: ', local_var)
func2()
print('함수밖: ', local_var)

함수안:  200

NameError: name 'local_var' is not defined

In [22]:
g_var = 100 #전역변수
def func3():
    g_var = 200 #지역변수
    print('함수안(지역변수 g_var): ', g_var)
func3()
print('함수밖(전역변수 g_var): ', g_var)

함수안:  200
함수밖:  100

In [24]:
#랙시컬 특성
g_var = 100 #전역변수
def func4():
    print('함수 안 g_var: ', g_var)
    g_var = 200 #지역변수
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [25]:
#랙시컬 특성
g_var = 100 #전역변수
def func4():
    global g_var #func4()함수 내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var: ', g_var)
    g_var = 200 #전역변수
func4()
print('함수 밖 g_var: ', g_var)

함수 안 g_var:  100
함수 밖 g_var:  200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 벼수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [26]:
foo = 'a' #전역변수
id(foo)

3051244316464

In [32]:
def func1(f): #매개변수 f는 지역변수
    print('Before: ', f, ' id(f): ', id(f))
    f = f*3
    print('After: ', f, ' id(f): ', id(f))
func1(foo)
print(foo)

Before:  a  id(f):  3051244316464
After:  aaa  id(f):  3051356097392
a

## 1.5 참조에 의한 호출
- 한수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [29]:
L = [1, 2, 3]
id(L)

3051356172032

In [33]:
def func2(f): #매개변수 f는 지역변수
    print('Before: ', f, id(f))
    f.append(4)
    print('After: ', f, id(f))
func2(L)

Before:  [1, 2, 3, 4] 3051356172032
After:  [1, 2, 3, 4, 4] 3051356172032

In [35]:
print('L =', L, id(L))

L = [1, 2, 3, 4, 4] 3051356172032

# 2. 함수의 실행결과를 반환하는 return

In [36]:
def add(x, y):
    return x + y

In [41]:
i = 2;j = 3
add(i, j)

5

In [42]:
def add():
    return True

In [43]:
add()

True

In [44]:
def add(a):
    pass

In [46]:
print(add(10))

None

In [52]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n = 10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end = ' ')
        a, b = b, a+b
    print()#개행

In [59]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [6]:
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n = 10이면 [0 1 1 2 3 5 8]을 return
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [7]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [60]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return하는 함수'
    return b, a

In [62]:
x, y = 5, 10
print(f'함수 실행 전 x = {x}, y = {y}')
x, y = swap(x, y)
print(f'함수 실행 후 x = {x}, y = {y}')

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절. 함수의 매개변수★
## 3.1 기본값을 갖는 매개변수

In [72]:
def make_url(ip, port = 80): #순서인수>기본값을 값는 매개변수
    return "http://{}:{}".format(ip, port)

In [75]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port = 8090, ip = 'localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [8]:
i = 5
#기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg = i):
    print('arg = ', arg)

In [9]:
i = 50
func2()

arg =  5

In [1]:
list_ = []
#기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은 실행되는 시점
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [2]:
print(func3(10)) #list가 수정

[10]

In [3]:
print(func3(20))

[10, 20]

In [4]:
list_

[10, 20]

In [7]:
def func4(data, L = None):
    if L == None: 
        L = []
    L.append(data)
    return L

In [9]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [11]:
# 파이썬은 오버로딩 불가
def add(a,b):
    return a+b
def add(a,b,c):
    return a+b+c

In [12]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [16]:
#*args: 매개변수들을 하나의 튜플변수args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    #print('args =',args)
    result_tot = 0 #누적변수
    for data in args:
        result_tot += data
    return result_tot

In [19]:
print(add(1,2))
print(add(1,2,3))
print(add(1,2,3,4))
print(add(1,2,3,4,5))

3
6
10
15

In [ ]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

In [20]:
def concat(*subject, sep):
    return sep.join(subject)

In [23]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

'Python/Oracle/DL/ML'

In [24]:
#해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep = '/')

'Python/Oracle/DL/ML'

In [ ]:
#해결책2 : 기본값을 반드시 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [25]:
concat('Python', 'Oracle', 'DL', 'ML', sep = '/')

'Python/Oracle/DL/ML'

In [26]:
print('Python', 'Oracle', 'DL', 'ML', sep = '/')

Python/Oracle/DL/ML

In [30]:
#해결책3 : sep을 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [32]:
concat('/', 'Python', 'Oracle', 'DL', 'ML')

'Python/Oracle/DL/ML'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [42]:
def func5(**kwargs):
    #print(kwargs)
    print(type(kwargs))
    print('이름: ', kwargs.get('name', '대마왕'))
    print('나이: ', kwargs.get('age', 30))
    print('주소: ', kwargs.get('address', '서울'))

In [44]:
func5(name = '홍길동', age = 30, address = '신림동')

<class 'dict'>
이름:  홍길동
나이:  30
주소:  신림동

In [45]:
func5(name = '김길동')

<class 'dict'>
이름:  김길동
나이:  30
주소:  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름명시) > 딕셔너리매개변수(**)

In [46]:
def func6(a, b, *c, **d):
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('딕셔너리 인수 d : ', d)

In [47]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name = '홍길동', age = 30, address = '서울')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕션리 인수 d :  {'name': '홍길동', 'age': 30, 'address': '서울'}

In [48]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수이름 반드시 명시) d : ', d)
    print('딕셔너리인수 e : ', e)

In [49]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize = 12, fontfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수이름 반드시 명시) d :  딴거
딕셔너리인수 e :  {'fontsize': 12, 'fontfamily': 'consola'}

In [50]:
func7(10, 20, 1, 2, 3, '딴거', fontsize = 12, fontfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수이름 반드시 명시) d :  기본값
딕셔너리인수 e :  {'fontsize': 12, 'fontfamily': 'consola'}

# 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹: 함수 호출시 매개변수앞에 *붙임
- 패킹: 함수 정의시 매개변수앞에 *붙임

In [53]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [54]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [56]:
numbers = [1, 2, 3, 4]
add(*numbers) #언패킹

(1, 2, 3, 4)

10

In [57]:
numbers = (1, 2, 3, 4)
add(*numbers) #언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 언패킹: 함수 호출시 매개변수앞에 **붙임
- 패킹: 함수 정의시 매개변수앞에 **붙임

In [64]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [65]:
func5(name = '홍길동', age = 30, address = '신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [66]:
customInfo = {'name':'홍길동', 'age':30, 'address': '서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [68]:
def add(a,b):
    return a+b
add(3,4)

7

In [69]:
add2 = lambda a, b : a+b
add2(3,4)

7

In [70]:
type(add), type(add2)

(function, function)

In [71]:
(lambda a, b : a+b)(3,4)

7

In [80]:
#ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num%2:
#         result = '홀수'
#     else:
#         result = '짝수'
    return '홀수' if num%2 else '짝수'
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(10), ex1(-9)

('짝수', '홀수')

In [81]:
#ex2. 두 매개변수의 차이를 return
ex2 = lambda a,b : a-b if a>b else b-a
ex2(10, 5), ex2(2, 8)

(5, 6)

In [96]:
#ex3. 매개변수로 잔액을 받아 잔액이 양수면 잔액을 return, 음수면 'negative'
ex3 = lambda bal : bal if bal>0 else 'negative'
ex3(1000), ex3(0), ex3(-5)

(1000, 'negative', 'negative')

In [100]:
#ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험. 그외는 유효하지 않음
ex4 = lambda point : 'A팀' if 100>=point>=80 else \
                     'B팀' if 80>point>=60 else \
                     '재시험' if 0<=point<60 else \
                     '유효하지 않음'
ex4(40), ex4(90), ex4(70)

('재시험', 'A팀', 'B팀')

In [102]:
#ex5. safe_index를 람다식으로 표현
def safe_index(vector, data):
    if data in vector:
        return vector.index(data)
    else:
        return -1

In [103]:
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1,2,3)
ex5(tup,4), ex5(tup,2)

(-1, 1)

## 4.2 함수의 매개변수에 람다식 이용
### (1) map

In [16]:
def map_template(func, L = []):
    '''
    L의 모든 요소를 func()함수를 적용시켜 return
    [2, 4, 6]
    '''
#     result = []
#     for l in L:
#         result.append(func(l))
#     return result
    return [func(l) for l in L]

In [17]:
# 리스트 데이터를 가공하는 방법 1. map
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_data)
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
# 리스트 데이터를 가공하는 방법 2. 리스트 컴프리핸션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
# 리스트 데이터를 가공하는 방법 3. map():파이썬 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
for item in map(lambda x : x*2, list_data):
    print(item, end = ' ')

2 4 6 8 10 12 14 16 18 20

In [10]:
'''
예제1.  [5000, 800, 1000, 6000]로 바꾸시오
'''
prices = ['5,000', '800', '1000', '6,000']

In [ ]:
def func(x):
    return int(x.replace(',',''))

In [23]:
list(map(lambda x: int(x.replace(',','')), prices))

[5000, 800, 1000, 6000]

In [54]:
'''
예제2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                  {'name':'신길동', 'birth':'1998-12-31'}]를
      member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
                  {'name':'신길동', 'year':1998, 'month':12, 'day':31}]로 바꿉니다
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1998-12-31'}]
member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
            {'name':'신길동', 'year':1998, 'month':12, 'day':31}]

In [28]:
#2000-01-01 -> {'year':1998, 'month':12, 'day':31}
def split_date(date):
    split_data = date.split('-')
#     print(split_data[0], split_data[1], split_data[2])
    return {'year': int(split_data[0]),
           'month': int(split_data[1]),
           'day'  : int(split_data[2])
           }

In [29]:
split_date('2000-01-01')

{'year': 2000, 'month': 1, 'day': 1}

In [30]:
def member_func(member): #{'name':'신길동', 'birth':'1998-12-31'}
    "'name':'신길동', 'year':1998, 'month':12, 'day':31}식으로 return"
    return{
        'name':member['name'],
        'year':int(member['birth'].split('-')[0]),
        'month':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [31]:
list(map(lambda member : {
    'name':member['name'],
        'year':int(member['birth'].split('-')[0]),
        'month':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
         }, 
         member1
        )
    )

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [32]:
'''
예제3. member2를 member1로 바꿉니다
'''

'\n예제3. member2를 member1로 바꿉니다\n'

In [40]:
def join_date(data):
    year = str(data.get('year'))
    month = data.get('month')
    if month<10:
        month = '0'+str(month)
    else:
        month = str(month)
    day = data.get('day')
    if day<10:
        day = '0'+str(month)
    else:
        day = str(month)
    return '-'.join([year, data.get('month'), data.get('day')])

In [45]:
def join_date(data):
    print("{}-{:02}-{:02}".format(data.get('year'), 
                                  data.get('month'), 
                                  data.get('day')))

In [47]:
def join_date(data):
    print("{year}-{month:02}-{day:02}".format(
                                  year = data.get('year'), 
                                  month = data.get('month'), 
                                  day = data.get('day')))

In [49]:
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)

In [50]:
join_date({'year':2000, 'month':1, 'day':1})

'2000-01-01'

In [56]:
#{'name':'홍길동', 'year':2000, 'month':1, 'day':1}(member2)를
#{{'name':'홍길동', 'birth':'2000-01-01'}으로 가공
list(map(lambda member : {
    'name' : member.get('name'),
    'birth': "{year}-{month:02}-{day:02}".format(**member)
},
         member2
        )
    )

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map처리: [1,2,3,4,5] => [2,4,6,8,10] (벡터의 모든 데이터를 가공)
- filter: [1,2,3,4,5] => [2,4](원하는 정보를 추출)
- *cf.리스트 컴프리핸션

In [57]:
#map:[1,2,3,4,5]
def filter_template(func, L = []):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [59]:
def evenChk(value):
    return value%2 == 0
evenChk(10), evenChk(-9)

(True, False)

In [60]:
list_data = [1,2,3,4,5]
filter_template(lambda value : value%2 == 0, list_data)

[2, 4]

In [61]:
list(filter(lambda value : value%2 == 0, list_data))

[2, 4]

In [63]:
[data for data in list_data if data%2 == 0]

[2, 4]

### (3) sort

In [65]:
p = [9, 2, 7]
p.sort(reverse = True)
p

[9, 7, 2]

In [70]:
#무조건 0번 item기준으로 정렬
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [72]:
#1번째 item기준으로 정렬(abc순)
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [68]:
#무조건 0번 item기준으로 정렬
number2d = [
    [9, 9, 9, 9, 9],
    [1, 100],
    [10, 1]
]
number2d.sort(reverse = True)
number2d

[[10, 1], [9, 9], [1, 100]]

In [76]:
# 합이 큰 순으로 정렬
number2d.sort(key = lambda item : sum(item), reverse = True)
number2d

[[1, 100], [9, 9], [10, 1]]

In [77]:
#리스트를 매개변수로 받아 합을 return
(lambda item : sum(item))([1,2,3,])

6

In [78]:
# 합이 큰 순으로 정렬
number2d.sort(key = lambda item : sum(item), reverse = True)
number2d

[[1, 100], [9, 9], [10, 1]]

In [93]:
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':50},
    {'name':'윤길동', 'score':99},
    {'score':100}
]

In [94]:
#이름순(ㄱㄴㄷ순)으로 정렬
students.sort(key = lambda item : item.get('name', '힣'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [97]:
#score순으로 내림차순 정렬
students.sort(key = lambda item : item.get('score', 0), reverse = True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [98]:
#책제목순(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㅇ순), 가격순 정렬
books = [
    {'no':1, 'title':'강남 아파트 인사이트', 'writter':'오스틀로이드', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writter':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매19', 'writter':'백난도', 'price':'14220'},
    {'no':4, 'title':'가격이잘못', 'writter':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writter':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writter':'김길동'}
]

In [99]:
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writter': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writter': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writter': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writter': '오스틀로이드', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writter': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매19', 'writter': '백난도', 'price': '14,220'}]

In [100]:
books.sort(key = lambda book : book.get('writter'))
books

[{'no': 6, 'title': '가격이없음', 'writter': '김길동'},
 {'no': 2, 'title': '단 한 번의 삶', 'writter': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매19', 'writter': '백난도', 'price': '14,220'},
 {'no': 5, 'title': '가격이숫자', 'writter': '신길동', 'price': 900},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writter': '오스틀로이드', 'price': '25,200'},
 {'no': 4, 'title': '가격이잘못', 'writter': '홍길동', 'price': '-'}]

In [101]:
books.sort(key = lambda book : book.get('price', 0))
books

TypeError: '<' not supported between instances of 'str' and 'int'

In [114]:
# '1,4000', "2000", 800,'-' -> 14000, 2000, 800, 0
def parse_int(price):
    #print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else:
        return 0

In [115]:
parse_int("800"), parse_int('-')

(800, 0)

In [123]:
# # {'no': 6, 'title': '가격이없음', 'writter': '김길동'} => 0 리턴
# {'no': 3, 'title': '흔한남매19', 'writter': '백난도', 'price': '14,220'} => 14220리턴
# {'no': 5, 'title': '가격이숫자', 'writter': '신길동', 'price': 900} => 900
def parse_int(book):
    if isinstance(book.get('price'), str) and \
    book.get('price').replace(',','').isdigit():
        return int(book.get('price').replace(',',''))
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0
parse_int(books[0]), parse_int(books[3]), parse_int(books[2]), parse_int(books[5])

(0, 900, 14220, 0)

In [127]:
books = [
    {'no':1, 'title':'강남 아파트 인사이트', 'writter':'오스틀로이드', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writter':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매19', 'writter':'백난도', 'price':'14220'},
    {'no':4, 'title':'가격이잘못', 'writter':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writter':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writter':'김길동'}
]
copy_books = books.copy() #깊은 복사

In [128]:
copy_books.sort(key = lambda book : 
                int(book.get('price').replace(',','')) \
                if isinstance(book.get('price'),str) and \
               book.get('price').replace(',','').isdigit() else\
               book.get('price') if isinstance(book.get('price'),int) else\
               0
               )

In [132]:
#람다식 테스트 확인
(lambda book:
               int(book.get('price').replace(',','')) \
                if isinstance(book.get('price'),str) and \
               book.get('price').replace(',','').isdigit() else\
               book.get('price') if isinstance(book.get('price'),int) else\
               0)(books[0])

25200

In [129]:
copy_books

[{'no': 4, 'title': '가격이잘못', 'writter': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이없음', 'writter': '김길동'},
 {'no': 5, 'title': '가격이숫자', 'writter': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한남매19', 'writter': '백난도', 'price': '14220'},
 {'no': 2, 'title': '단 한 번의 삶', 'writter': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writter': '오스틀로이드', 'price': '25,200'}]

In [131]:
books

[{'no': 1, 'title': '강남 아파트 인사이트', 'writter': '오스틀로이드', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writter': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매19', 'writter': '백난도', 'price': '14220'},
 {'no': 4, 'title': '가격이잘못', 'writter': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이숫자', 'writter': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writter': '김길동'}]

## 4.3 return문에 람다식 이용

In [133]:
#함수를 return
def make_box(shape): #shape: [l]=>len가 l인 list를 생성하는 함수 return
                     #       [r,c] => r행c열인 list를 생성하는 함수 return
                     #       [d,r,c]=>d면 r행 c열 3차원 list를 생성하는 함수 return
    def box(init_value):
        if len(shape) == 1:
            return [init_value]*shape[0]
        elif len(shape) == 2:
            return[[init_value]*shape[1]]*shape[0]
    return box

In [139]:
def make_box(shape):
    if len(shape) == 1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape) == 2:
        return lambda init_value : [[init_value]*shape[1]]*shape[0]

In [136]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [138]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피함.

In [141]:
globals() #전역변수 리스트

{'__name__': '__main__',
 '__doc__': "\n예제2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                  {'name':'신길동', 'birth':'1998-12-31'}]를\n      member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                  {'name':'신길동', 'year':1998, 'month':12, 'day':31}]로 바꿉니다\n",
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "'''\n예제2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                  {'name':'신길동', 'birth':'1998-12-31'}]를\n      member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                  {'name':'신길동', 'year':1998, 'month':12, 'day':31}]로 바꿉니다\n'''\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n            {'name':'신길동', 'birth':'1998-12-31'}]",
  "#2000-01-01 -> {'year':1998, 'month':12, 'day':31}\ndef split_data(date):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])",
  "#2000-01-01 -> {'year':1998, 'month':12, 'day':31}\ndef split_data(date):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0])\n           'month': int(split_data[1])\n           'day': int(split_data[2])}",
  "#2000-01-01 -> {'year':1998, 'month':12, 'day':31}\ndef split_date(date):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0])\n           'month': int(split_data[1])\n           'day': int(split_data[2])}",
  "#2000-01-01 -> {'year':1998, 'month':12, 'day':31}\ndef split_date(date):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0]),\n           'month': int(split_data[1]),\n           'day'  : int(split_data[2])\n           }",
  "split_data('2000-01-01')",
  "#2000-01-01 -> {'year':1998, 'month':12, 'day':31}\ndef split_date(date):\n    split_data = date.split('-')\n#     print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0]),\n           'month': int(split_data[1]),\n           'day'  : int(split_data[2])\n           }",
  "split_data('2000-01-01')",
  "split_data('2000-01-01')",
  "split_date('2000-01-01')",
  'def member_func(member): #{\'name\':\'신길동\', \'birth\':\'1998-12-31\'}\n    "\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return{\n        \'name\':member[\'name\'],\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }',
  "'''\n예제2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                  {'name':'신길동', 'birth':'1998-12-31'}]를\n      member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                  {'name':'신길동', 'year':1998, 'month':12, 'day':31}]로 바꿉니다\n'''\nmembers1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n            {'name':'신길동', 'birth':'1998-12-31'}]",
  "#2000-01-01 -> {'year':1998, 'month':12, 'day':31}\ndef split_date(date):\n    split_data = date.split('-')\n#     print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0]),\n           'month': int(split_data[1]),\n           'day'  : int(split_data[2])\n           }",
  "split_date('2000-01-01')",
  'def member_func(member): #{\'name\':\'신길동\', \'birth\':\'1998-12-31\'}\n    "\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return{\n        \'name\':member[\'name\'],\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(menber1[0])',
  "'''\n예제2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                  {'name':'신길동', 'birth':'1998-12-31'}]를\n      member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                  {'name':'신길동', 'year':1998, 'month':12, 'day':31}]로 바꿉니다\n'''\nmember1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n            {'name':'신길동', 'birth':'1998-12-31'}]",
  "#2000-01-01 -> {'year':1998, 'month':12, 'day':31}\ndef split_date(date):\n    split_data = date.split('-')\n#     print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0]),\n           'month': int(split_data[1]),\n           'day'  : int(split_data[2])\n           }",
  "split_date('2000-01-01')",
  'def member_func(member): #{\'name\':\'신길동\', \'birth\':\'1998-12-31\'}\n    "\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return{\n        \'name\':member[\'name\'],\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(menber1[0])',
  'def member_func(member): #{\'name\':\'신길동\', \'birth\':\'1998-12-31\'}\n    "\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return{\n        \'name\':member[\'name\'],\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "list(map(lambda member : {\n    'name':member['name'],\n        'year':int(member['birth'].split('-')[0]),\n        'month':int(member['birth'].split('-')[1]),\n        'day':int(member['birth'].split('-')[2]),\n}))",
  "list(map(lambda member : {\n    'name':member['name'],\n        'year':int(member['birth'].split('-')[0]),\n        'month':int(member['birth'].split('-')[1]),\n        'day':int(member['birth'].split('-')[2]),\n}, member1\n        ))",
  "'''\n예제2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                  {'name':'신길동', 'birth':'1998-12-31'}]를\n      member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                  {'name':'신길동', 'year':1998, 'month':12, 'day':31}]로 바꿉니다\n'''\nmember1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n            {'name':'신길동', 'birth':'1998-12-31'}]\nmember2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n            {'name':'신길동', 'year':1998, 'month':12, 'day':31}]",
  "lambda member2 : {'name': member['name'],\n                  'birth': member['birth'].join('-'), member2",
  "list(map(lambda member : {\n    'name':member['name'],\n        'year':int(member['birth'].split('-')[0]),\n        'month':int(member['birth'].split('-')[1]),\n        'day':int(member['birth'].split('-')[2]),\n         }, \n         member1\n        )\n    )",
  "lambda member2 : {'name': member['name'],\n                  'birth': member['birth'].join('-'), member2",
  "'''\n예제2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                  {'name':'신길동', 'birth':'1998-12-31'}]를\n      member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                  {'name':'신길동', 'year':1998, 'month':12, 'day':31}]로 바꿉니다\n'''\nmember1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n            {'name':'신길동', 'birth':'1998-12-31'}]\nmember2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n            {'name':'신길동', 'year':1998, 'month':12, 'day':31}]",
  "#2000-01-01 -> {'year':1998, 'month':12, 'day':31}\ndef split_date(date):\n    split_data = date.split('-')\n#     print(split_data[0], split_data[1], split_data[2])\n    return {'year': int(split_data[0]),\n           'month': int(split_data[1]),\n           'day'  : int(split_data[2])\n           }",
  "split_date('2000-01-01')",
  'def member_func(member): #{\'name\':\'신길동\', \'birth\':\'1998-12-31\'}\n    "\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return{\n        \'name\':member[\'name\'],\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "list(map(lambda member : {\n    'name':member['name'],\n        'year':int(member['birth'].split('-')[0]),\n        'month':int(member['birth'].split('-')[1]),\n        'day':int(member['birth'].split('-')[2]),\n         }, \n         member1\n        )\n    )",
  "'''\n예제3. member2를 member1로 바꿉니다\n'''",
  "lambda member2 : {'name': member['name'],\n                  'birth': member['birth'].join('-')[], member2",
  "lambda member2 : {'name': member['name'],\n                  'birth': member['birth'].join('-')[]}, member2",
  "list(map(lambda member2 : {'name': member['name'],\n                  'birth': member['birth'].join('-')[]}, member2\n        )\n    )",
  "list(map(lambda member : {'name': member['name'],\n                  'birth': member['birth'].join('-')[]}, member2\n        )\n    )",
  "list(map(lambda member : {'name': member['name'],\n                  'birth': '-'.join(member['birth'])}, member2\n        )\n    )",
  "list(map(lambda member : {'name': member['name'],\n                  'birth': '-'.join(member['year', 'month', 'day'])}, member2\n        )\n    )",
  "def join_date(data):\n    print{[data.get('year'), data.get('month'), data.get('day')]}\n    year = str(data.get('year'))\n    month = data.get('month')\n    if month<10:\n        month = '0'+str(month)\n    else:\n        month = str(month)\n    day = data.get('day')\n    if day<10:\n        day = '0'+str(month)\n    else:\n        day = str(month)\n    return '-'.join([year, data.get('month'), data.get('day')])",
  "def join_date(data):\n    year = str(data.get('year'))\n    month = data.get('month')\n    if month<10:\n        month = '0'+str(month)\n    else:\n        month = str(month)\n    day = data.get('day')\n    if day<10:\n        day = '0'+str(month)\n    else:\n        day = str(month)\n    return '-'.join([year, data.get('month'), data.get('day')])",
  'def join_date(data):\n    print("{}-{}-{}".format(data.get(\'year\'), data.get(\'month\'), data.get(\'day\')))',
  "join_date({'year':2000, 'month':1, 'day':1})",
  'def join_date(data):\n    print("{}-{:02}-{:02}".format(data.get(\'year\'), data.get(\'month\'), data.get(\'day\')))',
  "join_date({'year':2000, 'month':1, 'day':1})",
  'def join_date(data):\n    print("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                  data.get(\'month\'), \n                                  data.get(\'day\')))',
  'def join_date(data):\n    print("{year}-{month:02}-{day:02}".format\n                                  year = (data.get(\'year\'), \n                                  month = data.get(\'month\'), \n                                  day = data.get(\'day\')))',
  'def join_date(data):\n    print("{year}-{month:02}-{day:02}".format(\n                                  year = data.get(\'year\'), \n                                  month = data.get(\'month\'), \n                                  day = data.get(\'day\')))',
  'def join_date(data):\n    print("{year}-{month:02}-{day:02}".format(**data)',
  'def join_date(data):\n    return "{year}-{month:02}-{day:02}".format(**data)',
  "join_date({'year':2000, 'month':1, 'day':1})",
  '#{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}(member2)를\n#{{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n    \'name\' : member.get(\'name\')\n    \'birth\': "{year}-{month:02}-{day:02}".format(**data)\n}\n        )\n    )',
  '#{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}(member2)를\n#{{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n    \'name\' : member.get(\'name\'),\n    \'birth\': "{year}-{month:02}-{day:02}".format(**data)\n}\n        )\n    )',
  '#{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}(member2)를\n#{{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n    \'name\' : member.get(\'name\'),\n    \'birth\': "{year}-{month:02}-{day:02}".format(**data)\n},\n         member2\n        )\n    )',
  "'''\n예제2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                  {'name':'신길동', 'birth':'1998-12-31'}]를\n      member2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                  {'name':'신길동', 'year':1998, 'month':12, 'day':31}]로 바꿉니다\n'''\nmember1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n            {'name':'신길동', 'birth':'1998-12-31'}]\nmember2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n            {'name':'신길동', 'year':1998, 'month':12, 'day':31}]",
  '#{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}(member2)를\n#{{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n    \'name\' : member.get(\'name\'),\n    \'birth\': "{year}-{month:02}-{day:02}".format(**data)\n},\n         member2\n        )\n    )',
  '#{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}(member2)를\n#{{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n    \'name\' : member.get(\'name\'),\n    \'birth\': "{year}-{month:02}-{day:02}".format(**member)\n},\n         member2\n        )\n    )',
  '#map:[1,2,3,4,5]\ndef filter_template(func, L = []):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n    return result',
  'def everChk(value):\n    return value%2 == 0\nevenChk(10), evenChk(-9)',
  'def evenChk(value):\n    return value%2 == 0\nevenChk(10), evenChk(-9)',
  'list_data = [1,2,3,4,5]\nfilter_template(lambda value : value%2 == 0, list_data)',
  'list(filter(lambda value : value%2 == 0, list_data))',
  '[for data in list_data if data%2 == 0]',
  '[data for data in list_data if data%2 == 0]',
  'p = [9, 2, 7]\np.sort(reverst = True)\np',
  'p = [9, 2, 7]\np.sort(reverse = True)\np',
  'number2d = [\n    [9, 9],\n    [1, 100],\n    [10, 1]\n]\nnumber2d.sort()\nnumber2d',
  'number2d = [\n    [9, 9],\n    [1, 100],\n    [10, 1]\n]\nnumber2d.sort(reversr = True)\nnumber2d',
  'number2d = [\n    [9, 9],\n    [1, 100],\n    [10, 1]\n]\nnumber2d.sort(reverse = True)\nnumber2d',
  "pairs = [(1, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]\npairs.sort()\npairs",
  "pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]\npairs.sort()\npairs",
  '#1번째 item기준으로 정렬(abc순)\npairs.sort(key=lambda pair : pair[1])',
  '#1번째 item기준으로 정렬(abc순)\npairs.sort(key=lambda pair : pair[1])\npairs',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key = lambda item : sum(item))',
  '(lambda item : sum(item))',
  '(lambda item : sum(item))[1,2,3,]',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key = lambda item : sum(item), reverse = True)\nnumber2d',
  '(lambda item : sum(item))([1,2,3,])',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key = lambda item : sum(item), reverse = True)\nnumber2d',
  'def add(key, reverse=5):\n    return key+reverse',
  'add(reverse = 5, key)',
  'students.sort()',
  '#이름순(ㄱㄴㄷ순)으로 정렬\nstudents.sort(key = lambda item : int(item))',
  "student = [\n    {'name':'홍길동', 'score':90}\n    {'name':'김길동', 'score':50}\n    {'name':'윤길동', 'score':99}\n]",
  "student = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99}\n]",
  '#이름순(ㄱㄴㄷ순)으로 정렬\nstudents.sort(key = lambda item : int(item))',
  "students = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99}\n]",
  '#이름순(ㄱㄴㄷ순)으로 정렬\nstudents.sort(key = lambda item : int(item))',
  '#이름순(ㄱㄴㄷ순)으로 정렬\nstudents.sort(key = lambda item : str(item))',
  '#이름순(ㄱㄴㄷ순)으로 정렬\nstudents.sort(key = lambda item : str(item))\nstudents',
  '#score순으로 내림차순 정렬\nstudents.sort(key = lambda item : int(item), reverse = True)',
  "#이름순(ㄱㄴㄷ순)으로 정렬\nstudents.sort(key = lambda item : item.get('name', '힣'))\nstudents",
  "students = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99}\n    {'score':100}\n]",
  "students = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n    {'score':100}\n]",
  "#이름순(ㄱㄴㄷ순)으로 정렬\nstudents.sort(key = lambda item : item.get('name', '힣'))\nstudents",
  "#score순으로 내림차순 정렬\nstudents.sort(key = lambda item : item.get('score'), reverse = True)",
  "#score순으로 내림차순 정렬\nstudents.sort(key = lambda item : item.get('score'), reverse = True)\nstudents",
  "#score순으로 내림차순 정렬\nstudents.sort(key = lambda item : item.get('score', 0), reverse = True)\nstudents",
  "#책제목순(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㅇ순), 가격순 정렬\nbooks = [\n    {'no':1, 'title':'강남 아파트 인사이트', 'writter':'오스틀로이드', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writter':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매19', 'writter':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writter':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writter':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writter':'김길동'}\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "books.sort(key = lambda book : book.get('writter'))\nbooks",
  "books.sort(key = lambda book : book.get('price', 0))\nbooks",
  "# '1,4000',800,'-' -> 14000, 800, 0\ndef parse_int(price):\n    print(type(price))",
  'parse_int(800)',
  "# '1,4000',800,'-' -> 14000, 800, 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, int):\n        return price",
  'parse_int(800)',
  '# \'1,4000\', "2000", 800,\'-\' -> 14000, 2000, 800, 0\ndef parse_int(price):\n    #print(type(price))\n    if price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\',\'\'))\n    elif isinstance(price, int):\n        return price',
  'parse_int(800)',
  '# \'1,4000\', "2000", 800,\'-\' -> 14000, 2000, 800, 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\',\'\'))\n    elif isinstance(price, int):\n        return price',
  'parse_int(800)',
  'parse_int("800")',
  'parse_int("800"), parse_int(\'-\')',
  'parse_int("800"), parse_int(-)',
  'parse_int("800"), parse_int(\'-\')',
  '# \'1,4000\', "2000", 800,\'-\' -> 14000, 2000, 800, 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\',\'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  'parse_int("800"), parse_int(\'-\')',
  "# # {'no': 6, 'title': '가격이없음', 'writter': '김길동'} => 0 리턴\n# {'no': 3, 'title': '흔한남매19', 'writter': '백난도', 'price': '14,220'} => 14220리턴\n# {'no': 5, 'title': '가격이숫자', 'writter': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and book.get(price).replace(',','').isdigit():\n        return int(book.get('price').replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0",
  "# # {'no': 6, 'title': '가격이없음', 'writter': '김길동'} => 0 리턴\n# {'no': 3, 'title': '흔한남매19', 'writter': '백난도', 'price': '14,220'} => 14220리턴\n# {'no': 5, 'title': '가격이숫자', 'writter': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n    book.get(price).replace(',','').isdigit():\n        return int(book.get('price').replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(book[0])",
  "# # {'no': 6, 'title': '가격이없음', 'writter': '김길동'} => 0 리턴\n# {'no': 3, 'title': '흔한남매19', 'writter': '백난도', 'price': '14,220'} => 14220리턴\n# {'no': 5, 'title': '가격이숫자', 'writter': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n    book.get(price).replace(',','').isdigit():\n        return int(book.get('price').replace(',',''))\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0])",

In [142]:
all([True, True, False]) #전부 True인지 여부

False

In [143]:
round(3.5) #반올림

4

In [147]:
import numpy as np # numpy 모듈을 np라는 이름으로 로드
np.round(3.5),  np.ceil(3.5), np.floor(3.2) #반올림, 올림, 내림

(4.0, 4.0, 3.0)

# 6절. 연습문제

In [155]:
#(실습형)
#1.함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
# def get_max_min(data_list):
# get_max_min= lambda ~

def get_max_min(data_list): 
        return max(data_list), min(data_list)
    
get_max_min = lambda data_list : (max(data_list), min(data_list))
get_max_min(input())

65698

('9', '5')

In [2]:
#2. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 
#함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 
#중 하나의 상태를 출력하는 함수를 구현해 보세요.
# getBMI(kg, m):
# BMI지수 = 체중(kg) / 신장(m)의 제곱
# BMI<18.5 : 마른체형
# 18.5<=BMI<25 : 표준
# 25<=BMI<30 : 비만
# BMI >=30 : 고도비만

def getBMI(kg,m):
    BMI = (kg/m)**2
    if BMI<18.5:
        return '마른체형'
    elif 18.5<=BMI<30:
        return '표준'
    elif 25<=BMI<30:
        return '비만'
    elif BMI>=30:
        return '고도비만'
    
getBMI(int(input('체중:')),int(input('신장:')))

체중:50
신장:160

'마른체형'

In [ ]:
# 3.직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
# 리턴값은 면적과 둘레를 return하도록 구현하세요
# math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
# def get_triangle(width, height):
def get_triangle(width, height):
    return width*heigh*0.5
    return 

get_triangle(int(input('밑변길이: ')), int(input('높이:')))

In [22]:
#4.함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요
#(시작값과 끝값 포함).
#def mysum(fRom, end):
def mysum(fRom,end):
    return sum(int(fRom),int(end))
mysum = lambda fRom, end : sum(int(fRom), int(end))

TypeError: 'int' object is not iterable

In [25]:
# #5.함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 
# 함수와 람다식을 작성하세요. 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가
# 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
lst = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']
list(map(lambda x : str(x[:3]), lst))

['Seo', 'Dae', 'Kwa', 'Jej']

In [26]:
def get_abbrs(lst):
    result = []
    for x in lst:
        result.append(str(x[:3]))
    return result
get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju'])

['Seo', 'Dae', 'Kwa', 'Jej']

In [28]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
f = lambda x,y : x**y

In [30]:
# 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오
ex = [1,2,3,4,5]
list(map(lambda x : x**2, ex))

[1, 4, 9, 16, 25]

In [31]:
[x**2 for x in ex]

[1, 4, 9, 16, 25]

In [32]:
#8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
#매개변수 앞에 *을 붙임으로서 언패킹 하였기 때문

In [33]:
#9. 다음 코드의 실행 결과는?
#2024-9-6

In [34]:
#10. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는
#vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

In [ ]:
#11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.
#(단 입력되는 벡터의 크기는 일정하지 않음)